			#menu-h ul{
				padding: auto;
				font-family:'Play';
				font-size: 18px;
				max-width: 100%;
				text-align:center;
				background-color: #00002b;
    			color:black;
				opacity: 0.8;
				
			}
			#menu-h ul li{
				display: inline;
				padding: 35px;		
			}

			#menu-h ul li a{
				color: white;
				display:inline-flex;
				padding: 20px;
				text-decoration: none;
			}

			#menu-h ul li a:hover{
				color: rgb(6, 99, 238);
			}
			.img{
				opacity: 0.8;
			}
			.mac, .notebook, .desktop, .impressoras{
				
				text-align: center;
				font-weight: bold;
				font-size: large;
				font-family: 'Play';
				margin: 80px 0px  80px 0;
				background-color: white;
				padding: 8px; 
				opacity: 0.8;
				color: rgb(12, 2, 145);
			}
			.div4{
				text-align:right;
				margin: 20px;
				color: rgb(12, 2, 145);
				font-weight: bold;
				font-size: 20px;
				background-color:#ffff;
				margin:auto;
				opacity:0.8;
			}
			
			.RedesSociais {
				display:inline-flex;
			}

			body{
				background-color: #0b71df;
				background-image: url('E:/Documentos/GitHub/Projetos/WSInfo/imagens/Circuito.jpg');
				background-repeat: repeat-y;
				background-position: center;
				background-size: 100% 40%;
				background-attachment: fixed;
				
			}
			footer{
				background-color:white;
				text-align:center;
				font-style: italic;
				color: #122145;
				opacity: 0.8;
				padding-top: 5em;
			}
