			html{
				font-family: 'Kanit';
			}
			#menu-h ul{
				padding: auto;
				background-color: rgb(0, 0, 0);
				color:black;
				font-family: 'Kanit';
				font-size: 18px;
				max-width: 100%;
				text-align:center;
				border-style: solid;
			}
			#menu-h ul li{
				display: inline;
				padding: 35px;		
			}

			#menu-h ul li a{
				color: white;
				display:inline-flex;
				padding: 20px;
				text-decoration: none;
			}

			#menu-h ul li a:hover{
				color: rgb(6, 99, 238);
			}
			.div2{
				text-align: center;
				font-size: 12px;
				color: white;
				padding-bottom: 5px;
			}
			.div3{
				text-align: center;
				font-weight: bold;
				font-size: large;
				font-family: 'Kanit', sans-serif;
				Border: 5px solid black;
				margin: auto 200px;
				margin-top: 40px;
				background-color: white;
				padding: 12px; 
			}
			.div4{
				margin: 100px;
			}
			body{
				background-color: #063970;
			}
