
			
			#menu-h ul{
				padding: auto;
				background-color: rgb(0, 0, 0);
				color: white;
				font-family: Verdana;
				font-size: 15px;
				max-width: 100%;
				text-align:center;
				border-style: solid;
				border-color: white;
		

			}
			#menu-h ul li{
				display: inline;
				padding: 35px;		
				
			}

			#menu-h ul li a{
				color: white;
				display:inline-flex;
				padding: 20px;
				text-decoration: none;
		

			}

			#menu-h ul li a:hover{
				color: rgb(6, 99, 238);
			}
			.div1{
				font-family:Arial;
				text-align:center;
				font-weight:bold;
				text-decoration: underline;
				font-size: 30px;
			}
			.div2{
				text-align: center;
				font-family:Arial;
				font-size: 12px;
				background-color:blue;
				color: white;
				border-radius: 15px;
				margin:15px auto;
				padding-top: 5px;
				padding-bottom: 5px;
			}
			.div3{
				text-align: center;
				font-weight: bold;
				font-size: large;
				font-family:Calibri;
				Border: 5px solid grey;
				border-radius:15px;
				margin: auto 200px;
				margin-top: 40px;
				background-color: white;
			}
			body{
				background-color: #76b5c5;
			}
