#menu-h ul{
    padding: auto;
    font-family:'Play';
    font-size: 18px;
    max-width: 100%;
    text-align:center;
    background-color: #00002b;
    color:black;
    opacity: 0.8;
    
}
#menu-h ul li{
    display: inline;
    padding: 35px;		
}

#menu-h ul li a{
    color: white;
    display:inline-flex;
    padding: 20px;
    text-decoration: none;
}

#menu-h ul li a:hover{
    color: rgb(6, 99, 238);
}
body{
    background-color: #0b71df;
    background-image: url('E:/Documentos/GitHub/Projetos/WSInfo/imagens/Circuito.jpg');
    background-repeat: repeat-y;
    background-position: center;
    background-size: 100% 40%;
    background-attachment: fixed;
}
.tabela{
    background-color:white ;
    opacity: 0.8;
    color:rgb(12, 2, 145);
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left:250px
}
.tabela h1{
    padding-left: 300px;

}
tbody, th, td {
    border-style: solid;
    text-align: center;
    padding: 15px 20px 15px 20px;
}
th{
    background-color:rgb(12, 2, 145) ;
    color: white;
    border:rgb(12, 2, 145) solid;
    font-size: 20px;
}
.aviso td{
    border-style: none;
    padding-left: 150px;
    text-decoration: underline;
    font-weight: bold;
    padding-top:40px ;
    font-size: 20px;
    
}
span{
    font-weight: bold;
}
footer{
    background-color:white;
    text-align:center;
    font-style: italic;
    color: #122145;
    opacity: 0.8;
    padding-top: 5em;
}